<% content_for :head do %>
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>
<% end %>
<div id="vanta-mainbody">
  <div class="login-wrapper">
    <h2 class="login-title"> CRM-SERVICE </h2>
    <% flash.each do |message_type, message| %>
      <div id="login-alert" class="alert alert-<%= message_type %>"><b><i><%= message %></i></b></div>
    <% end %>
    <hr/>
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                aria-controls="pills-login" aria-selected="true">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
                aria-controls="pills-register" aria-selected="false">Register</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form action="/sessions" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name = "login[email]" id="registerEmail" class="form-control" />
            <label class="form-label" for="registerEmail">Email</label>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="login[password]" id="loginPassword" class="form-control" />
            <label class="form-label" for="login[password]">Password</label>
          </div>
          <!-- 2 column grid layout -->
          <div class="row mb-4">
            <div class="col-md-6 d-flex justify-content-center">
            </div>
          </div>
          <!-- Submit button -->
          <%# <input type="submit" name="submit" class="submit"> %>
          <button type="submit" name="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>
      </div>
      <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form action="/users" method="POST">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="name" name="user[name]" id="registerName" class="form-control" />
            <label class="form-label" for="registerName">Name</label>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" name="user[email]" id="registerEmail" class="form-control" />
            <label class="form-label" for="registerEmail">Email</label>
          </div>
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="user[password]" id="registerPassword" class="form-control" />
            <label class="form-label" for="registerPassword">Password</label>
          </div>
          <!-- Repeat Password input -->
          <div class="form-outline mb-4">
            <input type="password" name="user[password_confirmation]" id="registerRe-enterPassword" class="form-control" />
            <label class="form-label" for="registerRe-enterPassword">Re-enter password</label>
          </div>
          <!-- Submit button -->
          <button type="submit" name="submit" class="btn btn-primary btn-block mb-3">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
<script>
  VANTA.NET({
    el: "#vanta-mainbody",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x3fffe8,
    backgroundColor: 0x1e153c,
    maxDistance: 30.00,
    spacing: 18.00
  })
</script>
